name: "MMoE_DANN"
loss_config:
  loss_type: "bce_dann"
  loss_weight_list: [1.1, 1]

num_experts: 10
expert_hidden_units: [512, 256, 128]
gate_hidden_units: [128, 64]
tower_hidden_units: [128, 64]
hidden_activations: "ReLU"
net_dropout: 0.2
batch_norm: False
task: binary_classification
